@model AUSMDM.Models.Meter

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Meter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protocol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protocol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accuracy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accuracy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voltage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voltage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditType)
        </dd>
    </dl>
    
    <form asp-action="DeleteMeter">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="MeterList">Back to List</a>
    </form>
</div>
