@model IEnumerable<AUSMDM.Models.Meter>



<h1><center><b>Meter-Type</b></center></h1>
<br />
<p>
    <a asp-action="CreateMeter"><input type="button" value="Create New" class="btn btn-primary" /></a>
</p>

<form asp-controller="ParameterController" asp-action="Search" method="get">
    <!--https://forums.asp.net/t/2093808.aspx?+ASP+NET+5+MVC+6+How+to+make+a+search+box+and+receive+input+value+in+Search+Action+-->
    <select id="selector">
        <!-- Use "select" to create object -->
        <option>PostPay</option> <!-- Add all applicable options -->
        <option>Prepay(kWh)</option>
        <option>Prepay(Currency)</option>
        <option>Prepay(Water)</option>
        <option>Prepay(Water Currency)</option>
    </select>
    <input name="Search" id="Search" placeholder="Name" />
    <input type="submit" value="Search" />
    <a asp-action="Search"></a>


    <p><input type="checkbox" name="Action" checked="checked" />Enable Actions?</p>


</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protocol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accuracy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditType)
            </th>
            <th class="Action">
                Action
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Protocol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConnectionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accuracy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voltage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditType)
                </td>
                <td class="Action">
                    <button> @Html.ActionLink("Edit", "EditMeter", new {  i=item.IdentityNumber})</button> 
                    <button>       @Html.ActionLink("Details", "DetailsMeter", new {  i=item.IdentityNumber  }) </button>
                    <button>   @Html.ActionLink("Delete", "DeleteMeter", new { i = item.IdentityNumber })</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/Test.js"></script>

